<!-- about.ejs , vansh , 4th june -->

<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <header><%- include('partials/navbar') %></header>

    <main>
      <h1>About Me</h1>
      <h2></h2>
      <img src="/images/profile.jpeg" alt="Your Photo" />
      <p>
        As a backend developer and a student at Centennial College, I am
        passionate about creating innovative and efficient web applications. I
        thrive on the challenges of coding, problem-solving, and staying
        up-to-date with the latest backend technologies. With a strong
        foundation in programming languages such as Python and Java, I enjoy
        architecting robust databases, optimizing server-side processes, and
        ensuring seamless integration between different components of a system.
        As a student, I am continually seeking opportunities to expand my
        knowledge and skills, be it through coursework, personal projects, or
        collaborating with fellow developers. I am excited to continue learning
        and growing in the ever-evolving field of backend development, and I am
        dedicated to delivering high-quality solutions that make a positive
        impact.
      </p>
      <a href="/download/resume">Download Resume</a>
    </main>

    <footer><p>&copy; 2023 Vansh. All rights reserved.</p></footer>
  </body>
</html>
