<!-- home.ejs , vansh , 4th june -->

<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header><%- include('partials/navbar') %></header>

    <main>
      <img src="/images/profile.jpeg" alt="My Image" />
      <h1>Hello! I am Vansh</h1>
      <p>
        Welcome to my portfolio! I am a dedicated and experienced backend
        developer with a passion for creating robust and scalable web
        applications. With a strong foundation in programming languages such as
        Python and Java, I have honed my skills in designing efficient
        databases, optimizing server-side processes, and ensuring seamless
        integration between various components of a system. Through my extensive
        hands-on experience in building RESTful APIs, implementing
        authentication mechanisms, and working with cloud technologies, I strive
        to deliver high-quality solutions that meet the unique needs of each
        project. With a keen eye for detail and a commitment to delivering clean
        and maintainable code, I am constantly seeking opportunities to leverage
        my expertise in backend development to contribute to innovative and
        impactful projects.
      </p>
    </main>

    <footer><p>&copy; 2023 Vansh. All rights reserved.</p></footer>
  </body>
</html>
